.albumcard {
  width: 180px;                  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.imagewrapper {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
}

.albumimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.albumname {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 5px 0;
  white-space: nowrap;            
  overflow: hidden;               
  text-overflow: ellipsis;        
}

.singername {
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  text-align: center;
  display: -webkit-box;           
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  line-clamp: 2;  
  overflow: hidden;               
  line-height: 1.2em;
  max-height: calc(1.2em * 2);    
  text-overflow: ellipsis;
}

.playbutton {
  position: absolute;
  bottom: 0; 
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.imagewrapper:hover .playbutton {
  opacity: 1;
}

/* Instead of scaling the button, scale only the icon */
.playbutton:hover .playicon {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}





